<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <!-- TODO: Use a Handlebars expression to display
         the description for this dish. -->
  </div>
</div>