<!-- TODO: Decide where this file belongs in the MVC structure
     (Model, View, or Controller) and explain its role in the application. -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Street Eats Night</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          🌮 Street Eats Night 🌮
        </h1>
      </header>
      <main class="container container-fluid mt-5">
        <!-- TODO: Describe what this placeholder represents and
             how it connects the server logic to the page content. -->
        <!-- TODO: Based on this file, what content do you expect
             to be displayed when visiting http://localhost:3001/? -->
        {{{body}}}
      </main>
    </div>
  </body>
</html>