<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <!-- The expression below pulls data passed from the server
         and displays the dish description in the view. -->
    <p>
      Description:
      {{description}}
    </p>
  </div>
</div>