<div class="row">
  <section class="card">
    <h2>Login</h2>
    <form class="login-form">
      <label for="email-login">Email</label>
      <input id="email-login" type="email" />

      <label for="password-login">Password</label>
      <input id="password-login" type="password" />

      <div style="margin-top:10px;">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </section>

  <section class="card">
    <h2>Create account</h2>
    <form class="signup-form">
      <label for="name-signup">Name</label>
      <input id="name-signup" />

      <label for="email-signup">Email</label>
      <input id="email-signup" type="email" />

      <label for="password-signup">Password</label>
      <input id="password-signup" type="password" />

      <div style="margin-top:10px;">
        <button class="btn btn-primary" type="submit">Sign up</button>
      </div>
    </form>
  </section>
</div>

<script src="/js/login.js"></script>