<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>

  <div class="card-body">
    <p>
      {{description}}
    </p>
    {{#if has_nuts}}
      <p class="has-nuts">⚠️ Contains nuts</p>
    {{/if}}
    {{! 
      Render food allergies if the dish has any
    }}
  </div>
</div>